<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <div class="card card-secondary">
                <div class="card-header">
                    <h3 class="card-title">Agregar Publicidad</h3>
                </div>
                <div class="card-body">
                    <form [formGroup]="bannerForm">
                        <!-- <div class="form-group">
                            <input formControlName="name" type="text" class="form-control form-control-border" id="name" placeholder="Ingrese el nombre">
                            <span *ngIf="validateControl('name') && hasError('name', 'required')">Debe ingresar el nombre</span>
                        </div> -->
                        <div class="form-group">
                            <input formControlName="descripcion" type="text" class="form-control form-control-border" id="descripcion" placeholder="Ingrese una descripción">
                            <span *ngIf="validateControl('descripcion') && hasError('descripcion', 'required')">Debe ingresar una descripción</span>
                        </div>
                        <div class="form-group">
                            <h5>Tamaño de imagen recomendada: 970px largo - 250px alto</h5>
                            <span>Una imagen que no respete este tamaño no se podrá apreciar de manera correcta.</span><br><br>
                            <input formControlName="image" #image type="file" id="image" (change)="onFileChange($event)">
                        </div>
                    </form>
                </div>
                <div class="card-footer">
                    <button type="button" class="btn btn-primary" (click)="guardar()">Guardar</button>
                    <a routerLink="/list-banners" class="btn btn-secondary">Cancelar</a>
                </div>
            </div>
        </div>
    </div>
</div>
