<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <div class="card card-secondary">
                <div class="card-header">
                    <h3 class="card-title">Agregar Trabajo</h3>
                </div>
                <div class="card-body">
                    <form [formGroup]="trabajoForm">
                        <div class="form-group">
                            <input formControlName="name" type="text" class="form-control form-control-border" id="name" placeholder="Ingrese el nombre">
                            <span *ngIf="validateControl('name') && hasError('name', 'required')">Debe ingresar el nombre</span>
                        </div>
                        <div class="form-group">
                            <input formControlName="description" type="text" class="form-control form-control-border" id="description" placeholder="Ingrese una descripción">
                            <span *ngIf="validateControl('description') && hasError('description', 'required')">Debe ingresar una descripción</span>
                        </div>
                        <div class="form-group">
                            <input formControlName="image" #image type="file" id="image" (change)="onFileChange($event)" multiple>
                        </div>
                    </form>
                </div>
                <div class="card-footer">
                    <button type="button" class="btn btn-primary" (click)="guardar()">Guardar</button>
                    <a routerLink="/list-trabajos" class="btn btn-secondary">Cancelar</a>
                </div>
            </div>
        </div>
    </div>
</div>
